# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
Library/

# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# iOS
*.xcworkspace
*.xcodeproj
ios/Pods/
ios/build/

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Testing
coverage/

# Misc
*.log
*.tmp
